node_modules
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
npm-debug.log.*
yarn-debug.log.*
yarn-error.log.*
lerna-debug.log.*
lib
.idea
.vscode
examples/full-ui
examples/pages/zh-CN
fe.element/full-ui
coverage
waiter.config.js
build/bin/algolia-key.js
.envrc
