@import "mixins/mixins";
@import "common/var";

@include b(ty-search-form) {
}

.ty-search-form {
  margin-top: -10px;
  margin-left: -5px;
  margin-right: -5px;
}

.ty-search-form > .el-input, .ty-search-form > .el-textarea, .ty-search-form > .el-select, .ty-search-form > .el-input-number, .ty-search-form > .el-button {
  margin: 10px 5px 0 5px;
}

/deep/ .el-button + .el-button {
  margin-left: 5px;
}
